<!DOCTYPE html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title><%=APP_NAME%></title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="tWuMqBdv50I1v/MVkD1FR0VN6wgoI5E+ihzjULexC94abMzfPK4+66rpbgOfQoh/XULkGGw5qx9g6e0yLFIZKA==" />
<link rel="icon" type="image/png" href="/assets/img/ico.png" />

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<html>
  <body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
      <div>
        <div>
          <img src="/assets/img/logo1.png" />

        </div>
        <h3>Rails App</h3>
        <p>Template for Bootstrap Ruby on Rails apps</p>
        <a class="alert-link" href="/admin">
          <div class="alert alert-success">
            Admin
          </div>
        </a>
          
        <p class="m-t"> <small>Rails Template Application  &copy; 2019</small> </p>
      </div>


    </div>

  </body>

</html>